.homepage {
  padding: 20px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.main-image {
  max-width: 66%;
  border-radius: 10px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.description {
  margin-bottom: 20px;
  justify-content: center;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.input-field {
  margin-bottom: 20px;
}

.date-pickers {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.date-separator {
  font-size: 18px;
  color: #333;
  margin-right: 10px;
}

.date-picker {
  width: 180px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  background-color: #fff;
  font-size: 16px;
  color: #333;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.react-datepicker__input-container input {
  padding: 0;
  background-color: transparent;
  font-size: inherit;
  color: inherit;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.get-button {
  margin-top: 20px;
}